.logout {
  float: right;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url(../img/graduates.jpg);
  background-position:0% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  height: 300px;

}

.studentBox {
  display: inline-block;
  margin: 20px 20px 20px 20px;
  background-color: papayawhip;
  width: 10%;
}

.classBox {
  margin: 10px 10px 20px 10px;
}

.admin {
  margin-top: 10px;
}

.teacherArea {
  margin-top: 20px;
}

.parentArea {
  margin-top: 20px;
}

.studentArea {
  margin-top: 20px;
}

.desc {
  margin-top: 5px;
}

.weekly {
  margin-top: 5px;
}
