<div class="container">
  <h1 class="lead">Add a Class</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
  <form ng-submit="addClass()">
    <div>
        <label for="class_name">Class Name:</label>
        <input type="text" ng-model="class.class_name" />
    </div>
    <div>
        <label for="period">Period:</label>
        <input type="number" ng-model="class.period" />
    </div>
    <div data-ng-init="getTeachers()">
            <label for="teacher">Teacher:</label>
            <select ng-model="class.teacher" ng-options="teacher.whole_name for teacher in teachers">
              <option value="">---Please select---</option>
            </select>
    </div>
    <div>
        <label for="class_info">Class Information:</label>
        <trix-editor angular-trix class="trix" ng-model="class.class_desc" angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);" trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);"></trix-editor>
    </div>
    <input class="btn btn-default" type="submit" name="submit" value="Submit" />
    <a href="#admin">Cancel</a>
  </form>


  <table class="teacherArea table table-striped">
    <thead>
      <th><p>Classes:</p></th>
    </thead>
    <tbody data-ng-init="getClasses()">
      <tr>
        <th class="col-md-4">Class Name</th>
        <th class="col-md-2">Period</th>
        <td class="col-md-1"></td>
        <td class="col-md-1"></td>
        <td class="col-md-4"></td>
      </tr>
      <tr class="classBox" ng-repeat="class in classes">
        <td class="className col-md-4">{{class.class_name}}</td>
        <td class="col-md-2">{{class.period}}</td>
        <td class="col-md-1"><div name="edit" class="btn btn-default">Edit</div></td>
        <td class="col-md-1"><div name="delete" class="btn btn-default" ng-click="deleteClass(class.class_id)">Delete</div></td>
        <td class="col-md-4"></td>
      </tr>
    </tbody>
</div>
