<div class="container">
  <h1 class="lead">Add a Teacher</h1>
  <!-- <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2> -->
  <form ng-submit="addUser()">
    <div>
        <label for="first_name">First Name:</label>
        <input type="text" ng-model="user.first_name" />
    </div>
    <div>
        <label for="last_name">Last Name:</label>
        <input type="text" ng-model="user.last_name" />
    </div>
    <div>
        <label for="username">Email:</label>
        <input type="email" ng-model="user.username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="user.password" />
    </div>
    <div>
        <input type="hidden" name="user_type" ng-init="user.user_type='teacher'" ng-model="user.user_type" />
    </div>
    <input class="btn btn-default" type="submit" name="submit" value="Submit" />
    <a href="#admin">Cancel</a>
  </form>


  <table class="teacherArea table table-striped">
    <thead>
      <th><p>Teachers:</p></th>
    </thead>
    <tbody data-ng-init="getTeachers()">
      <tr class="teacherBox" ng-repeat="teacher in teachers">
        <td class="teacherName col-md-4">{{teacher.first_name}} {{teacher.last_name}}</td>
        <td class="col-md-1"><div class="btn btn-default" name="edit">Edit</div></td>
        <td class="col-md-1"><div class="btn btn-default" name="delete" ng-click="deleteUser(teacher.id)">Delete</div></td>
        <td class="col-md-6"></td>
      </tr>
    </tbody>
  </table>
</div>
