<div data-ng-init="isLoggedIn()">
  <h2>Welcome, {{user.first_name}}</h2>
</div>
<button class="btn btn-default logout" ng-click="logout()">Log Out</button>

<div>
  <div class="studentBox btn btn-default" ng-repeat="parentStudent in parentStudents">
    <div class="studentName" ng-click="getStudentClasses(parentStudent)">{{parentStudent.first_name}}</div>
  </div>
</div>

<div class="classBox" ng-repeat="studentClass in studentClasses">
  <div class="classLabel"><h3>{{studentClass.class_name}}</h3></div>
  <div class="updateText"><p>{{studentClass.weekly_update}}</p></div>
</div>
