<div data-ng-init="isLoggedIn()">
  <h2>Welcome, {{user.first_name}}</h2>
</div>
<button class="btn btn-default logout" ng-click="logout()">Log Out</button>

<div>
  <div class="classBox" ng-repeat="teacherClass in teacherClasses">
    <div class="className">Class Name: {{teacherClass.class_name}} Class Period: {{teacherClass.period}}</div>
    <button class="btn btn-default" class="showDesc" ng-click="showDesc = !showDesc">Edit Description</button>
    <button class="btn btn-default" class="showWeekly" ng-click="showWeekly = !showWeekly">Edit Weekly Update</button>
    <div ng-show = "showDesc">
      <form ng-submit="editDesc($index, teacherClass)">
        <textarea ng-model="teacherClass.class_desc">{{teacherClass.class_desc}}</textarea>
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        <div class="btn btn-default" class="hideWeekly" ng-click="showDesc = !showDesc">Cancel</div>
      </form>
    </div>
    <div ng-show = "showWeekly">
      <form ng-submit="editWeekly($index, teacherClass)">
        <textarea ng-model="teacherClass.weekly_update"></textarea>
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        <div class="btn btn-default" class="hideWeekly" ng-click="showWeekly = !showWeekly">Cancel</div>
      </form>
    </div>
  </div>
</div>
